@model CVSante.Models.Company

@{
    ViewData["Title"] = "Create Company";
}

<h1>Create Company</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CompName" class="control-label"></label>
                <input asp-for="CompName" class="form-control" />
                <span asp-validation-for="CompName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AdLink" class="control-label"></label>
                <input asp-for="AdLink" class="form-control" />
                <span asp-validation-for="AdLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AdId" class="control-label"></label>
                <input asp-for="AdId" class="form-control" />
                <span asp-validation-for="AdId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
