@model CVSante.Models.UserParamedic

@{
    ViewData["Title"] = "Create Paramedic";
}

<h1>Create Paramedic</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateParamedic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParamIsActive" class="control-label"></label>
                <input asp-for="ParamIsActive" type="checkbox" class="form-check-input" />
                <span asp-validation-for="ParamIsActive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Matricule" class="control-label"></label>
                <input asp-for="Matricule" class="form-control" />
                <span asp-validation-for="Matricule" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FkCompany" class="control-label"></label>
                <select asp-for="FkCompany" class="form-control" asp-items="ViewBag.FkCompany"></select>
            </div>

            <div class="form-group">
                <label asp-for="FkIdentityUser" class="control-label"></label>
                <select asp-for="FkIdentityUser" class="form-control" asp-items="ViewBag.FkIdentityUser"></select>
            </div>

            <div class="form-group">
                <label asp-for="FkRole" class="control-label"></label>
                <select asp-for="FkRole" class="form-control" asp-items="ViewBag.FkRole"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
