@model IEnumerable<CVSante.Models.UserParamedic>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h1>SuperAdmin</h1>
    <div class="row justify-content-start">
        <h2>Paramedic admin</h2>
        <div class="col-auto">
            <a asp-controller="SuperAdmin" asp-action="CreateCompany" class="btn btn-primary">Create Company</a>
        </div>
        <div class="col-auto">
            <a asp-controller="SuperAdmin" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
        </div>
        <div class="col-auto">
            <a asp-controller="SuperAdmin" asp-action="CreateParamedic" class="btn btn-primary">Create Paramedic</a>
        </div>
    </div>
    <div class="row mt-4 justify-content-start">
        <h2>ASP.NET Roles</h2>
        <div class="col-auto">
            <a asp-controller="SuperAdmin" asp-action="ListRoles" class="btn btn-primary">Identity Roles</a>
        </div>
        <div class="col-auto">
            <a asp-controller="SuperAdmin" asp-action="ASPUserRolesAndEdit" class="btn btn-primary">Edit Users Identity Roles</a>
        </div>
    </div>
</div>
