@model IEnumerable<CVSante.Models.UserParamedic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="btn-group row-cols-2" role="group">
    <div>
    <a asp-controller="SuperAdmin" asp-action="CreateCompany" class="btn btn-primary">Create Company</a>
    </div>
    <div>
    <a asp-controller="SuperAdmin" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
    </div>
    <div>
    <a asp-controller="SuperAdmin" asp-action="CreateParamedic" class="btn btn-primary">Create Paramedic</a>
    </div>
</div>