@model IEnumerable<CVSante.Models.UserParamedic>

@{
    ViewData["Title"] = "Index";
    var newFAQCount = ViewBag.NewFAQCount;
}

<div class="container-fluid">
    <div class="card shadow-sm rounded my-5">
        <div class="card-body">

            <h1 class="text-primary text-center">Super Administrateur</h1>

            <div class="row justify-content-center">
                <!-- Centrer les éléments dans la ligne -->
                <div class="col-auto">
                    <h2 class="mt-4">Administration des Paramédics</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Centrer les boutons -->
                <div class="col-auto">
                    <a asp-controller="SuperAdmin" asp-action="CreateCompany" class="btn btn-primary">Créer une Compagnie</a>
                </div>
                <div class="col-auto">
                    <a asp-controller="SuperAdmin" asp-action="CreateRole" class="btn btn-primary">Créer un Rôle</a>
                </div>
                <div class="col-auto">
                    <a asp-controller="SuperAdmin" asp-action="CreateParamedic" class="btn btn-primary">Créer un Paramédic</a>
                </div>
            </div>

            <div class="row mt-4 justify-content-center">
                <!-- Centrer les éléments dans la ligne -->
                <div class="col-auto">
                    <h2>Rôles ASP.NET</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Centrer les boutons -->
                <div class="col-auto">
                    <a asp-controller="SuperAdmin" asp-action="ListRoles" class="btn btn-primary">Rôles d'Identité</a>
                </div>
                <div class="col-auto">
                    <a asp-controller="SuperAdmin" asp-action="ASPUserRolesAndEdit" class="btn btn-primary">Modifier les Rôles d'Identité des Utilisateurs</a>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <!-- Centrer les éléments dans la ligne -->
                <div class="col-auto">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <a asp-controller="SuperAdmin" asp-action="FAQContact" class="btn btn-primary notification-container">
                        <i class="fas fa-bell"></i> <!-- Icône de cloche -->
                        @if (newFAQCount > 0)
                        {
                            <span class="notification-badge">@newFAQCount</span> <!-- Badge de notification -->
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

