@model CVSante.Models.UserCitoyen

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <h4>Voulez-vous vraiment créer un profil?</h4>
        <form asp-action="Create">
            <div class="buttons-container">
                <button type="submit" value="Oui" class="btn btn-primary">Créer</button>
                <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Bienvenue", "ProfilCitoyen")'">Annuler</button>
            </div>
        </form>
    </div>
</div>

