@model CVSante.ViewModels.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Voulez-vous vraiment supprimer votre profil?</h3>
<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserInfo.FkUserId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Edit" asp-route-id="@ViewData["ID"]" class="btn btn-primary">Annuler suppression</a>
    </form>
</div>
