@model IEnumerable<CVSante.Models.UserCitoyen>

@{
    ViewData["Title"] = "Index";
}

<form method="post" class="form-container">
    <fieldset>
        <legend>Antécédents médicaux</legend>

        <div class="form-group">
            <label>Cochez les conditions médicales que vous avez</label>
            <div>
                <label>
                    <input type="checkbox" name="Antecedents" value="Aucun" /> Aucun
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Asthme/MPOC" /> Asthme/MPOC
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="AVC" /> AVC
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Diabète" /> Diabète
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Hypertension" /> Hypertension
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Maladie cardiaque" /> Maladie cardiaque
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Hypercholestérolémie" /> Hypercholestérolémie
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="problème abdominale" /> Problème abdominale
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Néoplasie" /> Néoplasie
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Psychiatrie" /> Psychiatrie
                </label>
                <label>
                    <input type="checkbox" name="Antecedents" value="Autre" id="other-checkbox" /> Autre
                </label>
            </div>
        </div>

        <div class="form-group" id="other-condition-group" style="display:none;">
            <label for="other-condition">Veuillez spécifier la condition médicale :</label>
            <textarea id="other-condition" name="other-condition" class="form-control"></textarea>
        </div>

        <div class="form-buttons">
            <button type="button" class="btn btn-secondary">Retour</button>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-secondary">Annuler modifications</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
            <button type="button" class="btn btn-secondary">Précédent</button>
            <button type="button" class="btn btn-secondary">Suivant</button>
        </div>
    </fieldset>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("other-checkbox").addEventListener("change", function () {
            var otherConditionGroup = document.getElementById("other-condition-group");
            otherConditionGroup.style.display = this.checked ? "block" : "none";
        });
    </script>
}

