@model IEnumerable<CVSante.ViewModels.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    </p>

    <body>
        <div>
            @foreach (var item in Model)
            {
                @item.userInfo.Nom;
            }
        </div>
    </body>
