<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVSante</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            <div class="header-container">
                <nav id="navmenu" class="navmenu">
                    <ul class="nav-list d-inline-flex">
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Presentation">Présentation du projet</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MembreEquipe">Membre de l'équipe</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="ProfilCitoyen" asp-action="Bienvenue">Profil</a></li>
                        <li class="nav-right d-inline-flex"><partial name="_LoginPartial" /></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <main class="container">
                @RenderBody()
            </main>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2024, cvsante.qc.ca</p>
            </div>
        </footer>
    </div>

    <!-- Include jQuery and Inputmask libraries from CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

    <!-- Include local scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>