<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVSante</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-container">
            <nav>
                <ul class="nav-list">
                    <li><a asp-controller="Home" asp-action="Index">Accueil</a></li>
                    <li><NavLink href="/presentation-projet">Présentation du projet</NavLink></li>
                    <li><NavLink href="/membre-equipe">Membre de l'équipe</NavLink></li>
                    <li><NavLink href="/faq">FAQ</NavLink></li>
                    <li class="nav-right"><NavLink href="/inscription">Inscription</NavLink></li>
                    <li><NavLink href="/connexion">Connexion</NavLink></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page">
        <main>
            <article>
                @RenderBody()
            </article>
        </main>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024, cvsante.qc.ca</p>
        </div>
    </footer>
</body>
</html>