<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminApplication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> 
   

    <link href="~/themesadmin/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/themesadmin/css/stylesadmin.css" rel="stylesheet" />

    <!-- s'assure que rien ne va sous la navbar involontairement -->
<style>
    .minheight
    {
            min-height: 60px;
    }
</style>
   
    
</head>
<body class="d-flex flex-column min-vh-100 sb-nav-fixed sb-sidenav-toggled">
    <nav class="sb-topnav navbar navbar-expand navbar-dark navbar-dark-blue">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-area="" asp-controller="Paramedic" asp-action="Index">Application Paramédic</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
        <!-- Theme Toggle Button-->
        <button class="btn btn-light ms-auto" id="themeToggle">
            <i class="fas fa-sun" id="sunIcon"></i>
            <i class="fas fa-moon d-none" id="moonIcon"></i>
        </button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <partial name="_LoginPartial" />
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav" class="d-flex flex-grow-1 minheight">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark-blue" id="sidenavAccordion">
                <div class="sb-sidenav-menu" class="sb-sidenav-toggled">
                    <div class="nav">


                        <nav class="sb-sidenav-menu-nested nav">

                            <a class="nav-link" asp-area="" asp-controller="Paramedic" asp-action="AddRespondent">Ajouter le 1er Répondant</a>

                            <a class="nav-link" asp-area="" asp-controller="Paramedic" asp-action="EditRespondent">Modifier le 1er Respondent</a>
                            <a class="nav-link" asp-area="" asp-controller="Paramedic" asp-action="History">Historique</a>
                            <a class="nav-link" asp-area="" asp-controller="Paramedic" asp-action="ManageCompany">Gérer la Compagnie</a>
                            <a class="nav-link" asp-area="" asp-controller="Paramedic" asp-action="ManageRoles">Gérer les Rôles</a>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        
    </div>
    <div id="layoutSidenav_content" class="d-flex flex-column flex-grow-1">
        <main class="flex-grow-1">
            <div class="container-fluid px-4">
                @RenderBody()
            </div>
        </main>
        <footer class="py-4 navbar-dark-blue mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-center small">
                    <p class="text-center">&copy; 2024, cvsante.ca</p>
                </div>
            </div>
        </footer>
    </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script> 
    <script src="~/themesadmin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/themesadmin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/themesadmin/js/scriptAdmin.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>