@{
    ViewData["Title"] = "Home Page";
}
<section id="hero" class="hero section">
    <div class="hero-bg">
        <img src="~/assets/img/fondecran.jpg" alt="">
    </div>
    <div class="container text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">

            <h1 data-aos="fade-up" class="slogan-part1">Le patient<span>d'abord</span></h1>
            <h2 data-aos="fade-up" class="slogan-part2">et avant <span>tout</span></h2>

            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                <a href="#video-section" class="btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                <img src="~/assets/img/klipartz.png" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
    
</section>


<section id="video-section" class="video-section">
    <div class="video-container">
        <video controls>
            <source src="~/assets/video/Pres.mp4" type="video/mp4">
        </video>
    </div>
</section>
