@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header class="header-background header-background-home">
    <div class="header-content">

        <div class="heading text-uppercase">Le patient d'abord et avant tout</div>
    </div>
</header>

<div class="container">
    <div class="video-container">
        <video controls class="mt-4">
            <source src="path_to_video.mp4" type="video/mp4">

        </video>
    </div>
</div>

