@{
    ViewData["Title"] = "Home Page";
}

<section>

    <div class="header-background header-background-home">
        <div class="header-content">
            <div class="slogan-container">
                <div class="slogan-part1 ">Le patient d'abord</div>
                <div class="slogan-part2 ">et avant tout</div>
            </div>
        </div>
    </div>
</section>

<div class="video-container">
    <video controls>
        <source src="path_to_video.mp4" type="video/mp4">

    </video>
</div>

