@{
    ViewData["Title"] = "Presentation";
}


<header class="logo-container header-background-logo">

    <div class="presentation-logo"></div>
    <div class="header-content">
        <h1 class="project-title">Présentation du projet</h1>
    </div>


</header>

<div class="presentation-container">
    <div class="presentation-content">
        <section>
            <h2>Introduction</h2>
            <p>
                La présente analyse fait suite à l'identification d'un besoin crucial dans la gestion des situations d'urgence médicale au Québec. Plusieurs rapports et études ont souligné les lacunes dans la communication d'informations médicales pertinentes entre les citoyens et les premiers répondants, pouvant entraîner des délais de prise en charge et des risques accrus pour les patients.
            </p>
            <p>
                Ce constat a motivé l'exploration d'une solution innovante visant à améliorer la transmission sécurisée des données médicales des citoyens vers les intervenants d'urgence. Un système efficace dans ce domaine permettrait non seulement d'optimiser la qualité des soins prodigués, mais aussi de contribuer à sauver des vies précieuses.
            </p>
        </section>

        <section>
            <h2>Résumé du Projet</h2>
            <p>
                Notre plateforme sécurisée vise à faciliter le partage rapide et efficace des données médicales cruciales entre les citoyens et les premiers répondants. Elle permet aux citoyens de stocker et mettre à jour leurs informations de santé dans un dossier médical centralisé, accessible en quelques clics par les équipes d'urgence. Cette approche améliore la qualité et la rapidité des interventions en fournissant aux premiers répondants un accès rapide aux informations médicales des patients.
            </p>
            <p>
                La présente analyse met en lumière la nécessité d'une amélioration significative dans la gestion des informations médicales en situation d'urgence au Québec. L'initiative de développer un "Système de Transmission d'Informations Médicales" vise à combler les lacunes actuelles, notamment les retards et les erreurs de communication entre les citoyens et les premiers répondants.
            </p>
            <p>
                Le projet, initié par Joel Blais et soutenu par une équipe multidisciplinaire, a pour objectif de réduire les erreurs et améliorer la coordination à travers les différents acteurs. Joel, un ancien ambulancier, a identifié des problèmes de communication ralentissant les temps de réponse lors de la transmission d'informations entre les différents acteurs du système d’urgence actuel. Constatant ces lacunes du système actuel, il a proposé de développer une solution pour améliorer la fluidité et la précision des communications dans la chaîne de soins.
            </p>
        </section>

        <section>
            <h2>Objectifs du Projet</h2>
            <ul>
                <li>Améliorer la communication entre les citoyens et les premiers répondants.</li>
                <li>Réduire les délais de prise en charge des patients.</li>
                <li>Minimiser les erreurs médicales.</li>
                <li>Assurer la conformité avec les réglementations en matière de protection des données personnelles.</li>
            </ul>
        </section>

        <section>
            <h2>Fonctionnalités Clés</h2>
            <ul>
                <li>Stockage sécurisé des informations médicales.</li>
                <li>Accès rapide aux données par les premiers répondants.</li>
                <li>Mise à jour en temps réel des dossiers médicaux.</li>
                <li>Interface utilisateur intuitive et facile à utiliser.</li>
            </ul>
        </section>

        <section>
            <h2>Équipe et Ressources</h2>
            <p>
                Le projet nécessite une équipe multidisciplinaire comprenant des représentants des premiers répondants, des experts en développement de logiciels, en sécurité des données et en réseautique. Des ressources financières conséquentes seront également nécessaires pour couvrir les coûts de développement, de déploiement, de maintenance et de formation des utilisateurs.
            </p>
        </section>
    </div>
</div>

