@model IEnumerable<CVSante.Models.HistoriqueParam>

<div>
    <h4>HistoriqueParam</h4>
    <hr />
<div>
    <h4>Historique</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
                <th>Matricule</th>
                <th>Nom de l'utilisateur</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Action</td>
                    <td>@item.FkParam.Matricule</td>
                    <td>@item.FkUser.UserInfo.Nom</td>
                </tr>
            }
        </tbody>
    </table>
</div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
