@model CVSante.ViewModels.Paramedic

<div>
    <h4>UserParamedic</h4>
<div>
    <form asp-action="AddRespondent" method="get" style="display:inline;">
        <input type="hidden" name="id" value="@Model?.paramInfo.ParamId" />
        <button type="submit" class="btn btn-success">Add Respondent</button>
    </form>
    <form asp-action="EditRespondent" method="get" style="display:inline;">
        <input type="hidden" name="id" value="@Model?.paramInfo.ParamId" />
        <button type="submit" class="btn btn-warning">Edit Respondent</button>
    </form>
    <form asp-action="History" method="get" style="display:inline;">
        <input type="hidden" name="id" value="@Model?.paramInfo.ParamId" />
        <button type="submit" class="btn btn-info">History</button>
    </form>
    <form asp-action="ManageCompany" method="get" style="display:inline;">
        <input type="hidden" name="id" value="@Model?.paramInfo.ParamId" />
        <button type="submit" class="btn btn-secondary">Manage Company</button>
    </form>
    <form asp-action="ManageRoles" method="get" style="display:inline;">
        <input type="hidden" name="id" value="@Model?.paramInfo.ParamId" />
        <button type="submit" class="btn btn-danger">Manage Roles</button>
    </form>
    <form asp-action="Index" method="get" style="display:inline;">
        <button type="submit" class="btn btn-light">Back to List</button>
    </form>
</div>
