@model CVSante.ViewModels.ManageCompany

@{
    ViewData["Title"] = "Manage Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.Company.CompName</h4>
<hr />
<form asp-action="ManageCompany" method="post">
    <input type="hidden" asp-for="Company.IdComp" />

    <table class="table">
        <thead>
            <tr>
                <th>Employé</th>
                <th>Matricule</th>
                <th>Actif</th>
                <th>Retirer de la compagnie</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Paramedics.Count; i++)
            {
                <tr>
                    <td>@Model.Paramedics[i].Nom</td>
                    <td>@Model.Paramedics[i].Matricule</td>
                    <td>
                        <input asp-for="Paramedics[i].ParamId" type="hidden" />
                        <input asp-for="Paramedics[i].ParamIsActive" type="checkbox" />
                    </td>
                    <td>
                        <button type="submit" name="removeParamedicId" value="@Model.Paramedics[i].ParamId" class="btn btn-link" onclick="return confirm('Voulez-vous vraiment retirer cet employé de la compagnie ?');">Retirer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </div>

    <div class="form-group">
        <a asp-action="ManageRoles" class="btn btn-secondary">Gestion des rôles</a>
    </div>
</form>
