html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}*/

main {
    padding: 2rem;
    /*position: relative;*/
    padding-top: 70px;
    z-index: 2;
    min-height: calc(100vh - 104px);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Styles pour améliorer l'espacement dans la barre de navigation */
.navbar {
    padding: 0.5rem 1rem; /* Ajustez l'espacement autour de la barre de navigation */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px; /* Ajustez la taille de l'image du logo */
    margin-right: 10px; /* Espacement entre le logo et le texte */
}

.vsante {
    font-size: 1.5rem; /* Ajustez la taille du texte du logo */
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto; /* Pousse les éléments de navigation à droite */
}

.nav-item {
    margin-left: 15px; /* Espacement entre les éléments de navigation */
}

.nav-link {
    padding: 0.5rem 0.75rem; /* Ajustez l'espacement autour des liens de navigation */
}


.sitename {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}


.logo-img {
    height: 3rem;
    width: auto;
    margin-right: -1.2rem;
}

.vsante {
    margin-left: -1.2rem;
}
.slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20%;
    transform: translateY(-50%);
    padding: 0 40px;
    text-align: center;
    animation: fadeIn 3s ease-in-out;
}


.slogan-part1,
.slogan-part2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.7);
    opacity: inherit;
    margin: 0 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: moveIn 3s ease-in-out;
}

.slogan-part1 {
    color: #3B21B8;
    animation-delay: 0s;
}

.slogan-part2 {
    color: #28A745;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveIn {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0);
    }
}
footer {
    background-color: #006d92;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

    footer .container {
        max-width: 1200px;
        margin: 0 auto;
    }




.logo-container {
    text-align: center;
    padding: 60px 0;
    background-color: white;
}
.header-background-logo {
    background-image: url("../assets/img/logo3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 20px;
}

    .header-background-logo h1 {
        color: #006d92;
        font-size: 2.5rem;
        margin-top: 0;
    }

.header-background {
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 60px 0;
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    z-index: 1;
    margin-top: 75px;
}

.header-background-home {
    background-image: url("../assets/img/cvSAnte3.jpg");
}



.header-background::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



.header-content {
    position: relative;
    z-index: 2;
    color: #0056b3;
}

    .header-content .heading {
        font-size: 3.25rem;
        font-weight: 500;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        animation: fadeIn 3s ease-in-out;
    }



    .header-content .logo {
        width: 150px;
        margin-top: -3rem;
    }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .header-background {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }




    .header-content .heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
    position: relative;
}

    .video-container video {
        width: 100%;
        height: auto;
    }

/* Presentation Content */
.presentation-container {
    text-align: center;
    padding: 25px 0;
    background-color: white;
}

.presentation-content {
    max-width: 850px;
    margin: 1.5rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

    .presentation-content section {
        margin-bottom: 1rem;
    }

    .presentation-content h2 {
        color: #007bff;
        margin-top: 1rem;
        text-align: center;
        font-size: 2rem;
    }

    .presentation-content p, .presentation-content ul {
        margin-bottom: 0.8rem;
        text-align: match-parent;
    }

    .presentation-content ul {
        list-style-type: disc;
        margin-left: 1.5rem;
        padding-left: 1rem;
    }

.buttons {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .buttons:hover {
        background-color: #0056b3;
    }

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    color: #0056b3;
}

.project-title {
    color: #006d92;
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 768px) {
    .project-title {
        font-size: 2rem;
    }

    .presentation-content {
        padding: 1rem;
    }
}
.heading {
    color: #006d92;
    font-size: 2.5rem;
    margin-top: 0;
}

  
	
	
/* Team Members */

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.team-member {
    flex: 1;
    max-width: 150px;
    text-align: center;
    background-color: #e0f7fa;
    padding: 1rem;
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 2rem;
}

    .team-member:hover {
        transform: scale(1.05);
    }
.modals {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent !important;
    transition: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.modals-content {
    background-color: lightgrey;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 100%;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* FAQ Container */
.faq-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.contact-form, .faq {
    flex: 1;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 2rem;
}

.faq-item {
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}

    .faq-item h3 {
        margin-top: 0;
    }

.question {
    font-weight: bold;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

    .question:hover {
        background-color: #e0e0e0;
    }

.answer {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}


/* Form Styles */
.form-container {
    background-color: white;
    padding: 2rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 2rem auto;
    border-radius: 8px;
}
form h2 {
    margin-bottom: 1rem;
    color: #006d92;
    text-align: center;
}
/* Welcome Page */
.welcome-container {
    text-align: center;
    padding: 2rem;
}

    .welcome-container h2 a {
        color: #006d92;
        text-decoration: none;
    }

.profile-picture {
    margin: 2rem 0;
}

    .profile-picture img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

    .buttons-container button {
        background-color: #006d92;
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
    }

        .buttons-container button:hover {
            background-color: #004c70;
        }
/* Form Page */

.form-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 2rem auto;
    border-radius: 8px;
}

    .form-container h2 {
        margin-bottom: 1rem;
        color: #006d92;
        text-align: center;
    }

    .form-container h3 {
        margin-bottom: 1rem;
        color: #006d92;
        text-align: left;
    }

.form-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.radio-container, .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .radio-container label, .checkbox-container label {
        margin: 0;
    }
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

        .form-group input[type="radio"],
        .form-group input[type="checkbox"] {
            width: auto;
            margin-right: 10px;
        }
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .form-buttons button {
        padding: 10px 20px;
    }
.severity-field {
    margin-top: 1rem;
}

.radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem; 
}
/*.container {
    margin-top: 20px;*/ /* Ajuste la marge supérieure pour centrer verticalement */
/*}*/

h2.text-center {
    margin-bottom: 20px;
}

/* Styles pour forcer la modal au-dessus de tout */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important; /* Valeur très élevée */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998 !important; /* Juste en dessous de la modal */
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

    .modal-backdrop.show {
        opacity: 0.5;
    }

/* Centrer la modal verticalement */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

/* Assurer que la modal est visible */
.modal.show .modal-dialog {
    transform: none;
}


.notification-container {
    position: relative; /* Nécessaire pour le positionnement absolu du badge */
}

.notification-badge {
    position: absolute;
    top: -5px; /* Ajuster cette valeur pour déplacer le badge plus haut */
    right: -5px; /* Ajuster cette valeur pour déplacer le badge plus à gauche */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px; /* Vous pouvez ajuster ces valeurs pour changer la taille du badge */
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}